/*
!.gitignore
!README.md
!.bashrc
!.bash
!.vimrc
.emacs.d/*
.vim/*
!init.el
!config.org
!.bash
!.bashrc
!readme.org
!.emacs.d
!.fonts
!.gitignore
!.i3
!.inputrc
!.myalias
!README.md
!.vimrc
!.xinitrc
!.Xmodmap
!.Xresources
